* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: lightskyblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.item-container {
  text-align: center;
}

.item-underline {
  width: 50%;
  margin: "0 auto";
}

.guest-log-container {
  text-align: center;
  margin-top: 20px;
}

.pagination-controls {
  text-align: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-page-info {
  margin: 0 10px;
}
